includes:
	- phpstan-algoritma-config.php

parameters:
	level: 6
	excludePaths:
		- **/node_modules/*
		- **/vendor/*
	ignoreErrors:
		- identifier: symplify.multipleClassLikeInFile
		- identifier: method.deprecated
		  message: '#Call to deprecated method __construct\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityDefinition#'
		- identifier: typePerfect.narrowPublicClassMethodParamType
		  path: src/QueryBuilder/QueryBuilder.php
		- identifier: typeCoverage.constantTypeCoverage
		  path: tests/Unit/Mapping/EntityDefinitionResolverTest.php

